<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="icon" href="/assets/website_images/favicon.png" type="image/png">

</head>
<body>
    <header>
        <div class="header-inner">
            <nav>
            <h1><a href="/index.html">Noctem's Portfolio</a></h1>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/resume.html">Resume</a></li>
            </ul>
            </nav>
            <p class="intro-message">Welcome to my portfolio site.</p>
        </div>
    </header>

    <main class="content-wrapper">
        {{ content }}
    </main>

    <footer>
        <div class="footer-inner">
            <p>© 2025 Noctem Apple – Why would you even steal this?</p>
        </div>
    </footer>
</body>
</html>
